html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #ebebeb;
	margin: 0px 20px 0px 20px;
}

h1, h2, h3 {
	font-family: 'Merienda', cursive;
	color: #B70E0C;
}

h1 {
	font-size: 400%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

p, ul {
	line-height: 1.5;
}

.highlight {
  margin: 20px 20px 20px 20px;
  background-color: #B70E0C;
  padding: 10px 50px 10px 50px;
  color: white;
}

.highlight h3 {
	color: white;
}

img {
  display: block;
  width: 100%;
}

.galerie {
  display: table;
  border-spacing: 10px;
}

.galerie a {
  display: table-cell;
  vertical-align: middle;
}

.button {
	background-color: #B70E0C;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 10px 20px 10px 20px;
}

input {
	margin: 10px 0px 10px 0px;
}
